<h2>개인정보수정</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, :class => "w3-input w3-hover-light-grey" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => "w3-input w3-hover-light-grey" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class => "w3-input w3-hover-light-grey" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "w3-input w3-hover-light-grey" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class => "w3-input w3-hover-light-grey" %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age, autofocus: true, class: 'w3-input w3-hover-light-grey' %>
  </div>
  <div class="btn-group" data-toggle="buttons">
      <p style="margin-bottom:0;"><%= f.label :gender %></p>
      <label class="radio_button"> 남자
         <%= f.radio_button :gender, '남자', checked: true %>
      </label>
      <label class="radio_button active"> 여자
         <%= f.radio_button :gender, '여자', checked: true %>
      </label>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "btn" %>
  </div>
<% end %><br>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn" %></p>

<%= link_to "Back", :back %>
