<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MJU_menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
    body {font-family: "Roboto", sans-serif}
    .w3-bar-block .w3-bar-item{padding:16px;font-weight:bold}
    </style>
    <script>
    // Open and close the sidebar on medium and small screens
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Change style of top container on scroll
    window.onscroll = function() {myFunction()};
    function myFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
            document.getElementById("myIntro").classList.add("w3-show-inline-block");
        } else {
            document.getElementById("myIntro").classList.remove("w3-show-inline-block");
            document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
        }
    }

    // Accordions
    function myAccordion(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
            x.previousElementSibling.className.replace(" w3-theme", "");
        }
    }
    </script>
  </head>
  <body>
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card" style="z-index:3;width:250px;" id="mySidebar">
      <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="http://www.mju.ac.kr/mbs/mjukr/intro.jsp">명지대학교 홈페이지</a>
      <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">Close <i class="fa fa-remove"></i></a>
      <%= link_to("Home", root_path, :class => "w3-bar-item w3-button") %>

      <a class="w3-bar-item w3-button" href="#">로그인</a>
      <a class="w3-bar-item w3-button" href="#">로그아웃</a>
      <a class="w3-bar-item w3-button" href="#">회원가입</a>
      <div>
        <a class="w3-bar-item w3-button" onclick="myAccordion('demo')" href="javascript:void(0)">학식메뉴 펼치기 <i class="fa fa-caret-down"></i></a>
        <div id="demo" class="w3-hide">
          <%= link_to("명진당", home_myongjin_restaraunt_path, :class => "w3-bar-item w3-button") %>
          <%= link_to("학생식당", home_student_restaraunt_path, :class => "w3-bar-item w3-button") %>
          <%= link_to("교직원식당", home_officer_restaraunt_path, :class => "w3-bar-item w3-button") %>

        </div>
      </div>
    </nav>

    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div class="w3-main" style="margin-left:250px;">

    <div id="myTop" class="w3-container w3-top w3-theme w3-large">
      <p><i class="fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge" onclick="w3_open()"></i>
      <span id="myIntro" class="w3-hide">MJU_menu : Introduction</span></p>
    </div>

    <header class="w3-container w3-theme" style="padding:64px 32px">
      <h2 class="w3-xxlarge">★ 명지대학교 식당 메뉴 크로울러 ★</h1>
    </header>

    <!-- 여기서부터 밑에는 본문내용 -->
    <div class="w3-container" style="padding:32px">

      <%= yield %>
    </div>

    <!-- footer 메뉴 제작자 소개 -->
    <footer class="w3-container w3-theme" style="padding:32px">
      <h3>제작자</h3>
      <p>명지대학교</p>
      <p>15학번 60151902 박준형</p>
    </footer>

    </div>
  </body>
</html>
